
* 
{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box ;
    font-family:Arial, Helvetica, sans-serif ;
}

:root
{
    --blue: #287bff;
    --white: #fff;
    --black: #222;
    --darkgray: #999;
    --grey: #f5f5f5;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.db-container
{
    position: relative;
    width: 100%;
}
.db-nav-ul{
    padding: 0;
}
.db-navigation
{
    
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.db-navigation.active {
    width: 80px;
}

.db-navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.db-navigation ul li 
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.db-navigation ul li:hover,
.db-navigation ul li.hovered
{
    background: var(--white);
}
.db-navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}

.db-navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.db-navigation ul li:hover a,
.db-navigation ul li.hovered a
{
    color: var(--blue);
}

.db-navigation ul li a .db-icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 62px;
    text-align: center;
}

.db-navigation ul li a .db-icon .bi
{
    font-size: 1.75em;
}

.db-navigation ul li a .db-title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/*Curve outside*/

.db-navigation ul li:hover a::before,
.db-navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.db-navigation ul li:hover a::after,
.db-navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/*Main*/
.db-main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.db-main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.db-topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.db-toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.db-search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.db-search label{
    position: relative;
    width: 100%;
}

.db-search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--darkgray);
}

.db-search label .bi{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.db-user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.db-user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.db-cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.db-cardBox .db-card{
    position: relative;
    background: var(--white);
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.db-cardBox .db-card .db-numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.db-cardBox .db-card .db-cardName{
    color: var(--darkgray);
    font-size: 1.1em;
    margin-top: 5px;
}

.db-cardBox .db-card .db-iconBx{
    font-size: 3.5em;
    color: var(--darkgray);
}

.db-cardBox .db-card:hover{
    background: var(--blue);
}

.db-cardBox .db-card:hover .db-numbers,
.db-cardBox .db-card:hover .db-cardName,
.db-cardBox .db-card:hover .db-iconBx
{
    color: var(--white);
}

.db-details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /*grid-template-columns: 2fr 1fr;*/
    grid-gap: 30px;
    /*margin-top: 10px;*/
}

.db-details .db-recentOrders{
    position: relative;
    display: grid;
    /*min-height: 500px;*/
    background: var(--white);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: box-shadow .3s;
}

.db-details .db-recentOrders:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.db-cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.db-cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}

.db-btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

/*.db-details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

.db-details table thead td{
    font-weight: 600;
} 

.db-details .db-recentOrders table tr{
    color: var(--black);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.db-details .db-recentOrders table tr:last-child{
    border-bottom: none;
}

.db-details .db-recentOrders table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
}

.db-details .db-recentOrders table tr td{
    padding: 10px;
    text-align: center;
}

.db-details .db-recentOrders table tr td:nth-child(1){
    text-align: start;
}*/

.db-status.active {
    padding: 5px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

}

.db-status.inactive {
    padding: 5px;
    background: #e02c2c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

}


/*Responsive*/
@media (max-width: 991px){
    .db-navigation{
        left: -300px;
    }
    .db-navigation.active{
        width: 300px;
        left: 0;
    }
    .db-main{
        width: 100%;
        left: 0;
    }
    .db-main.active{
        left: 300px;
    }
    .db-cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px){
    .db-details{
        grid-template-columns: repeat(1,1fr);
    }
    .db-recentOrders{
        overflow-x: auto;
    }
    .db-status.inactive{
        white-space: nowrap;
    }
}

@media (max-width:480px){
    .db-cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .db-user{
        max-width: 40px;
    }
    .db-navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .db-navigation.active{
        width: 100%;
        left: 0;
    }
    .db-toggle{
        z-index: 10001;
    }
    .db-main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}